.blogs {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 2rem;
  background-color: white;
}
.blogs h1 {
  color: #102a42;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 2.4px;
  text-decoration: underline #2caeba 0.3rem;
  text-underline-offset: 0.7rem;
}
.blog-cards {
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  width: 100%;
}
.blog-card {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  max-width: 600px;
}
.blog-card h3 {
  color: #102a42;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-underline-offset: 0.7rem;
  line-height: 3rem;
}
.blog-card p {
  color: #324d67;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  width: 90%;
}
.blog-link {
  color: black;
  font-weight: 600;
  font-size: 0.85rem;
}
.blog-card:hover {
  background-color: #2caeba;
  color: hsl(185, 94%, 87%);
}
.blog-card:hover h3 {
  color: white;
  text-decoration: underline 0.2rem white;
  text-underline-offset: 0.7rem;
}
.blog-card:hover p {
  color: hsl(185, 94%, 87%);
}

@media (max-width: 900px) {
  .blog-cards {
    flex-direction: column;
  }
}
