/* Global styles and styling for parent pages */

/* font-family: "Roboto", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Josefin Sans", sans-serif; */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f1f5f8;
}

.dsa,
.contact,
.error,
.projects,
.opensource,
.allissues,
.allprs,
.home {
  background: var(--clr-grey-10);
  min-height: calc(100vh - 9rem);
}

/* Error Page */
.error {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}
.error h3 {
  color: #222222;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.error button {
  background-color: #2caeba;
  border: none;
  color: #bff8fd;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: flex;
  place-items: center;
  gap: 1rem;
}
.error button:hover {
  color: hsl(184, 91%, 17%);
  background-color: hsl(184, 80%, 74%);
}
.error-home {
  font-size: 1.5rem;
}
/* Error Page */

/* Contact Page */
.contact {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.contact-form {
  background: white;
  border-radius: 0.3rem;
  text-align: center;
  width: 90vw;
  max-width: 35rem;
  padding: 1.25rem 0.75rem;
}
.contact-form h3 {
  color: #617d98;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.form-group {
  padding-top: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background-color: #f1f5f8;
  border-radius: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.form-control::placeholder {
  font-family: "Open Sans", sans-serif;
  color: hsl(209, 61%, 16%);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.submit-btn {
  display: block;
  width: 100%;
  background-color: #2caeba;
  border: none;
  color: #bff8fd;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.submit-btn:hover {
  color: hsl(184, 91%, 17%);
  background-color: hsl(184, 80%, 74%);
}
/* Contact Page */

/* Achievements Page */
.dsa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  gap: 5rem;
  width: 100%;
}

.dsa-doughnut {
  width: 500px;
}

.dsastats-details {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  place-items: center;
  gap: 2rem;
}

.dsastats-details a {
  color: black;
}

.dsa-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dsastats-details .dsa-button {
  width: 200px;
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 2px;
  background-color: #2caeba;
  color: #bff8fd;
  padding: 0.8rem 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

.dsastats-details .dsa-button:hover {
  color: hsl(184, 91%, 17%);
  background-color: hsl(184, 80%, 74%);
  transition: all 0.3s linear;
}

.achievements {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 35px;
}

.achievement {
  display: flex;
  place-items: center;
  gap: 0.5rem;
}

.gcp-link {
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.gcp-link:hover {
  color: #2caeba;
}

.dsa-bullet {
  font-size: 0.8rem;
  color: #2caeba;
  font-weight: bold;
}

.dsa-bullet-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .dsa {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  .dsa-doughnut {
    width: 350px;
  }

  .dsastats-details {
    flex-direction: column;
  }

  .dsa-btn-container {
    width: 350px;
  }

  .achievements {
    width: 350px;
    font-size: 1.3rem;
    line-height: 30px;
  }

  .dsa-bullet {
    display: none;
  }

  .dsa-bullet-mobile {
    display: inline;
    font-size: 0.9rem;
    color: #2caeba;
    font-weight: bold;
  }

  .gcp-link {
    font-size: 0.9rem;
  }
}
/* Achievements Page */
