.opensource {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.opensource-title {
  color: #102a42;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 2px;
  text-decoration: underline 0.2rem #2caeba;
  text-underline-offset: 0.7rem;
}
.opensource-organizations {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}
.orgs-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.org {
  height: 120px;
}
.org-title {
  display: none;
  animation: orgTitle 0.4s ease-in-out;
}
.org:hover .org-title {
  display: block;
  text-align: center;
  background-color: #dae2ec;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  color: #222222;
}
@keyframes orgTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.org-logo {
  width: 100px;
  height: 100px;
}
/* charts */
.charts-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.opensource-charts {
  display: flex;
  gap: 10rem;
  padding-top: 2rem;
}
.chart {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-items: center;
}
.chart > h3 {
  color: #102a42;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
/* charts */

/* prs */
.pullrequests {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 3rem;
}
.opensource-prs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}
.pr {
  padding: 1rem 1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 0.3rem;
}
.pr h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.pr-title {
  line-height: normal;
}
.pr p {
  font-size: 1.1rem;
  font-weight: 600;
}
.pr p a {
  color: blue;
}
.additions {
  color: #28a745;
  font-weight: 600;
}
.deletions {
  color: #d73a49;
  font-weight: 600;
}
.merged {
  background-color: #e7dcfc;
  border: solid 2px #6423db;
}
.open {
  background-color: #dcffe4;
  border: solid 2px #3bd85f;
}
.closed {
  background-color: #ffdce0;
  border: solid 2px #e24e60;
  border-radius: 0.3rem;
}
.allprs {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.allissues {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
/* prs */
.opensource-btn {
  margin-top: 0rem;
}
/* issues */
.issues {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
.opensource-issues {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}
.issue {
  padding: 1rem 1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.issue h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.issue p {
  font-size: 1.1rem;
  font-weight: 600;
}
.issue p a {
  color: blue;
}
.open-issue {
  background-color: #dcffe4;
  border: solid 2px #3bd85f;
  border-radius: 0.3rem;
}
.closed-issue {
  background-color: #ffdce0;
  border: solid 2px #e24e60;
  border-radius: 0.3rem;
}
/* issues */

/* open source ends */

@media (max-width: 900px) {
  /* opensource starts */
  .orgs-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .org-logo {
    width: 80px;
    height: 80px;
  }
  .org {
    height: 95px;
  }
  .opensource-charts {
    flex-direction: column;
    gap: 2rem;
  }
  .chart {
    width: 300px;
  }
  .opensource-prs {
    width: 90%;
  }
  .opensource-issues {
    width: 90%;
  }
  /* opensource ends */
}
